<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card ">
                <img src="<%= campground.image %>" class="card-img-top" alt="Campground Image">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= campground.location %></li>
                    <li class="list-group-item">Rs. <%= campground.price %>/night</li> 
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-primary">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <p class="my-4">
                <a href="/campgrounds" class="btn btn-success offset-4"> Back to All Campgrounds</a>
            </p>
        </div>
    </div>
    
        
